[submodule "effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect-smol
[submodule "resend"]
	path = .repos/resend
	url = git@github.com:resend/resend-node.git
[submodule "nodemailer"]
	path = .repos/nodemailer
	url = https://github.com/nodemailer/nodemailer
[submodule "t3code"]
	path = .repos/t3code
	url = https://github.com/pingdotgg/t3code
[submodule "opencode"]
	path = .repos/opencode
	url = https://github.com/anomalyco/opencode
[submodule ".repos/emailjs"]
	path = .repos/emailjs
	url = git@github.com:eleith/emailjs.git
